<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Snipbase | PennAppsX</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pure-min.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.leader-name').click(function() {
                    $(this).siblings('.tickets').slideToggle(200);
                });
            });
        </script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/monokai_sublime.min.css') }}">
        <script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    </head>
    <body>
        <div class="pure-g-r">

            <div class="header pure-u-1">

                <h1 class="pure-u-1"><img src="{{ url_for('static', filename='images/logo-dynasnip.png') }}"/>Snipbase</h1>
                <h2 class="pure-u">The Yellow Pages for Code Snippets</h2>
            </div>

            <div class="leaderboard pure-g-r">
                {% if not snippets is defined %}
                <div class="pure-u-1"><p>No snippets yet!</p></div>
                {% endif %}
                {% for snippet in snippets %}
                <div class="leader">
                    <div class="pure-u-1-2 leader-name">{{ snippet.title }}</div>
                    <div class="pure-u-1-2 leader-miles top">{{ snippet.n }}</div>
                    <div class="tickets pure-u-1-1">
                        <pre>
                            <code>
                            {{ snippet.snippet }}
                            </code>
                        </pre>
                    </div> 
                </div>    
                {% endfor %}
            </div>

            <div class="footer pure-u-1">
                <p>Built with ❤ at <a href="http://pennapps.com/">PennAppsX</a>&nbsp;&nbsp;|&nbsp;&nbsp;Code on <a href="https://github.com/tribhuvanesh/dyna-snip/">Github</a></p>
            </div>
          
            <div class="credits pure-u-1">
                <p><a href="https://github.com/tribhuvanesh">@tribhuvanesh</a> and <a href="https://github.com/emaadmanzoor">@emaadmanzoor</a></p>
            </div>  
        </div>
    </body>
</html>